<header class="p-2 border-b border-gray-200 shadow-sm">
    <div class="flex flex-col md:flex-row md:items-center">
        <h3 class="md:mr-6 text-center md:text-left text-orange-600 font-bold text-2xl">Georide Trips</h3>
        <nav>
            <ul class="flex flex-wrap justify-around my-2 md:flex-nowrap md:space-x-6">
                <li>
                    <a routerLink="/" class="p-2 rounded-md hover:text-white bg-gradient-to-r hover:from-yellow-600 hover:to-orange-600">Home</a>
                </li>
                <li class="ml-4 md:hidden">
                    <a href="https://github.com/elkoiko/Georide-Trips" rel="external nofollow"
                        title="See source code on GitHub">
                        <img src="../../../assets/GitHub-Mark.png" alt="Github Mark" class="h-6 w-6" />
                    </a>
                </li>
            </ul>
        </nav>
        <div class="border-l border-gray-200 hidden md:block md:ml-auto md:pl-4">
            <a href="https://github.com/elkoiko/Georide-Trips" rel="external nofollow"
                title="See source code on GitHub">
                <img src="../../../assets/GitHub-Mark.png" alt="Github Mark" class="h-6 w-6" />
            </a>
        </div>
    </div>
</header>