<div class="min-w-full w-80 rounded overflow-hidden shadow-lg p-3">
    <img class="w-full min-w-fit max-h-28 mb-2" [src]="trip.staticImage" [alt]="trip.staticImage">
    <h2 class="font-bold text-xl mb-4">{{ trip.startTime.toDateString() }}</h2>
    <div class="flex gap-4 mb-4">
        <div>
            <p class="text-gray-500">{{ trip.startTime | date: 'HH:mm' }}</p>
            <p class="text-gray-500">{{ trip.endTime | date: 'HH:mm' }}</p>
        </div>
        <div>
            <p>{{ trip.niceStartAddress }}</p>
            <p>{{ trip.niceEndAddress }}</p>
        </div>
    </div>
    <div class="flex content-evenly justify-between text-center">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="fill-orange-500 w-4 h-4 block m-auto">
                <path fill-rule="evenodd"
                    d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                    clip-rule="evenodd" />
            </svg>
            <p class="text-xs"><span class="font-bold text-sm">{{ trip.distance }}</span> km</p>
            <p class="text-xs text-gray-500 uppercase">Distance</p>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="fill-orange-500 w-4 h-4 block m-auto">
                <path fill-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                    clip-rule="evenodd" />
            </svg>
            <p class="text-xs"><span class="font-bold text-sm">{{ trip.endTime.getTime() - trip.startTime.getTime() | date : 'm' }}</span> min.</p>
            <p class="text-xs text-gray-500 uppercase">Duration</p>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="fill-orange-500 w-4 h-4 block m-auto">
                <path fill-rule="evenodd"
                    d="M9.315 7.584C12.195 3.883 16.695 1.5 21.75 1.5a.75.75 0 01.75.75c0 5.056-2.383 9.555-6.084 12.436A6.75 6.75 0 019.75 22.5a.75.75 0 01-.75-.75v-4.131A15.838 15.838 0 016.382 15H2.25a.75.75 0 01-.75-.75 6.75 6.75 0 017.815-6.666zM15 6.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"
                    clip-rule="evenodd" />
                <path
                    d="M5.26 17.242a.75.75 0 10-.897-1.203 5.243 5.243 0 00-2.05 5.022.75.75 0 00.625.627 5.243 5.243 0 005.022-2.051.75.75 0 10-1.202-.897 3.744 3.744 0 01-3.008 1.51c0-1.23.592-2.323 1.51-3.008z" />
            </svg>
            <p class="text-xs"><span class="font-bold text-sm">{{ trip.averageSpeed }}</span> km/h</p>
            <p class="text-xs text-gray-500 uppercase">Avg. speed</p>
        </div>
    </div>
</div>